img{
    width: 300px;/*ancho de la imagen*/
    height: 300px;/*alto de la imagen*/
}
tr:hover{
    background-color: aqua;
}
input{
    border-radius: 3px;
    border: 3px solid goldenrod;
    background-color: aqua;

}

.inputcolor{
    background-color: bisque;
}

#Contraseña{
    background-color: blue;

}